html,
body,
.app {
    /* probably unecessary, transitional until layout is refactored */
    width: 100%; 
    height: 100%;
    margin: 0;
    -webkit-user-select: none;
    /* Setting min height/width makes the UI scroll below those sizes */
    /* min-width: 1024px; */
    /* min-height: 640px; Min height to fit sprite/backdrop button */
}

/* @todo: move globally? Safe / side FX, for blocks particularly? */
* { box-sizing: border-box; }

/* body {
    margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    height: calc(100% + env(safe-area-inset-bottom));
    background-color: black;
} */
:root {
    --notch-inset-top: 0px;
    --notch-inset-right: 0px;
    --notch-inset-bottom: 0px;
    --notch-inset-left: 0px;
}

body {
    padding: var(--notch-inset-top) var(--notch-inset-right) var(--notch-inset-bottom) var(--notch-inset-left);
    margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    width: calc(100% + env(safe-area-inset-left));
    height: calc(100% + env(safe-area-inset-bottom));
    /* background-color: $motion-primary; */
    background-color: black;
}