.menuBar {
    position: absolute;
    z-index:2;
    top: 0;
    left: 0;
    width: 100%;
}

.blocks {
    position: absolute;
    z-index:1;
    width: 100%;
    top: 48px;
    bottom: 0;
}

.controls {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 15px;
}
