@import "../../css/colors.css";


.background {
  height: 100%;
  width: -webkit-fill-available;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.key {
  width: 3rem;
  height: 3rem;
  background-color: $motion-primary;
  border-radius: 0.5rem;
  margin: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 2px 2px 5px 0px grey;
}
.key.pressed {
  box-shadow: 1px 1px 5px 0px grey;
  transform: translate(1px, 1px);
}
.key-icon {
  width: 50%;
  filter: invert(100%) sepia(6%) saturate(7464%) hue-rotate(192deg) brightness(105%) contrast(104%);
}
.left{
  transform: rotate(-90deg);
}
.down{
  transform: rotate(-180deg);
}
.right{
  transform: rotate(90deg);
}