@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.stage-and-target-wrapper {
    /*
        Makes rows for children:
          1) stage menu
          2) stage
          3) sprite/stage selectors
        Only reason we need this, is so .targetWrapper, which holds the selectors,
        goes to full vertical height of the window
    */
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    /* pad entire wrapper to the left and right; allow children to fill width */
    padding-left: $space;
    padding-right: $space;

    /* this will only ever be as wide as the stage */
    flex-basis: 0;
}

.target-wrapper {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;

    padding-top: $space;
    min-height: 0; /* this makes it work in Firefox */
    /* margin-left: $space; */

    /*
        For making the sprite-selector a scrollable pane
        @todo: Not working in Safari
    */
    /* TODO this also breaks the thermometer menu */
    /* overflow: hidden; */
}

.stage-and-target-wrapper.preview {
    /* right: 2.5rem; */
    right: 6%;
    width: fit-content !important;
    height: auto;
    z-index: 1;
}
.previewHide{
    z-index: -1;
}
/* For Phone */
@media screen and (max-width: $full-size) {
    [dir="ltr"] .stageWrapper {
        right: 3.25rem;
    }
    
    .stage-and-target-wrapper {
        flex-direction: row;
        position: absolute;
        /* left: 100%; */
        /* left: 5%; */
        width: -webkit-fill-available;
    }
    .target-wrapper {
        padding-left: $space;
    }
    .target-wrapper.preview {
        display: none;
    }
}
